<section class="section mb-3" id="about">
  <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">About Me</h1>

  <div class="row wow FadeIn" data-wow-delay="0.4s">
    <div class="col-md-12 pb-5 text-center black-text">
      <p class="lead mb-4"> My name is Rukhsar Khan, I'm a Full-stack Developer and Travel Photographer.</p>
      <p>Travel is the best kind of education so go get lost, even if it’s just outside your own doorstep! My Aim to tell stories through images and to encourage others to find joy exploring this beautiful world while respecting the nature around them.</p>
      <p>Photography became a great excuse to look deeper and to make my experiences more intense.
      My main goal as a photographer is to create the kinds of images which combine a strong sense of story and convey what it felt like to be with the people I met in the places I visited.</p>
    </div>
  </div>
</section>
