<footer class="page-footer text-center text-md-left elegant-color-dark mt-5">
<div class="container-fluid py-5" style="background-color="#9aa4ae">
  <div class="flex-center">
    <ul class="list-unstyled">
      <li>
        <h2 class="h2-responsive mb-4 mt-5 wow fadeIn"><i class="fas fa-quote-left"
          ari-hidden="true"></i>
          The camera is an instrument that teaches people how to see without a camera.
          <i class="fas fa-quote-right"
          aria-hidden="true"></i>
        </h2>
      </li>
      <li>
        <h4 class="font-italic white-text wow fadeIn" data-wow-delay="0.2s">~ Dorothea Lange </h4>
      </li>
    </ul>
  </div>
</div>

<!--social media -->
<div class="container mb-2">
  <div class="row">
    <div class="col-md-12 my-4 fadeIn wow" data-wow-delay="0.3s">
      <div class="footer-sociams flex-center">
        <!--Facebook-->
        <a href="https://jobportalwebsite.herokuapp.com/" type="button" class="btn-floating btn-grey"><i class="fa fa-h-square"></i></a>
        <!--Twitter-->
        <a href="https://github.com/Rukh777/" type="button" class="btn-floating btn-blue"><i class="fab fa-github"></i></a>
        <!--Facebook-->
        <a href="https://www.youtube.com/watch?v=0Vnzos8iPEU/" type="button" class="btn-floating btn-red"><i class="fab fa-youtube"></i></a>
        <!--Facebook-->
        <a href="https://www.instagram.com/traveler.notebook/" type="button" class="btn-floating btn-pink"><i class="fab fa-instagram"  aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>


<!--copywright-->

<div class="footer-copyright py-3 text-center">
  <div class="container-fluid">
    2021 Copyright <a href="#">Rukhsar Khan</a>
  </div>
</div>
</footer>
